:root {
    --SLIDER_TRANSITION_SPEED: 0.2s;
    --HEADER_TRANSITION_SPEED: 0.1s;

    --ACTIVE_SIZE: 360px;
    --INACTIVE_SIZE: 211px;
}

* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden
}

body::-webkit-scrollbar {
    display: none;
    visibility: hidden;
}

button {
    background-color: rgb(30, 30, 30);
    border: white;
}

#__process__subcontainer {
    width: 100%;
    height: calc(100vh - 26rem);
    background-color: #f6f6f6;
    position: absolute;
    margin-top: calc(16rem + 8rem);
    top: 0;
}

#__container__video {
    z-index: 0;
    width: inherit;
    position: absolute;
    top: 0;
}

#__process__header__extra {
    position: absolute;
    margin-top: 75px;
    margin-left: 5rem;
    width: var(--ACTIVE_SIZE);
    height: var(--ACTIVE_SIZE);

    .__process__header__name {
        opacity: 0;
        transition: 0.3s;
        position: absolute;
        top: 100%;
        width: max-content;
        font-size: 1.25rem;
        margin-top: 1.125rem;
    }

    .__process__header__name.__active {
        opacity: 1;
        transition: 0.2s;
    }
}

#__process__slider {
    min-width: 100%;
    height: var(--ACTIVE_SIZE);
    margin-top: calc(75px + 6rem);
    position: absolute;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;

    transition: margin-left var(--SLIDER_TRANSITION_SPEED);

    .__process__header {
        position: relative;
        height: var(--INACTIVE_SIZE);
        width: var(--INACTIVE_SIZE);
        transition: var(--HEADER_TRANSITION_SPEED);
        margin-top: 2rem;

        * {
            user-select: none;
        }

        img {
            height: var(--INACTIVE_SIZE);
            transition: height var(--HEADER_TRANSITION_SPEED);
        }

        button {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            position: absolute;
        }
    }

    .__process__header.__active {
        position: relative;
        height: var(--ACTIVE_SIZE);
        width: var(--ACTIVE_SIZE);
        transition: var(--HEADER_TRANSITION_SPEED);
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 0 !important;

        img {
            height: var(--ACTIVE_SIZE);
            box-shadow: none !important;
        }
    }

    .__process__header::before {
        /* content: ""; */
        width: 100%;
        height: 100%;
        padding: 5px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        /* 
        border-radius: 1.5rem;
        border: 2px solid white;
        box-shadow: 0 0px 10px rgba(255, 255, 255, 1);
        */
        transition: var(--HEADER_TRANSITION_SPEED);
        opacity: 0;
    }

    .__process__header.__active::before {
        /* content: ""; */
        width: 100%;
        height: 100%;
        padding: 5px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 1.5rem;
        border: 2px solid white;
        box-shadow: 0 0px 10px rgba(255, 255, 255, 1);
        transition: var(--HEADER_TRANSITION_SPEED);
        opacity: 1;
    }
}

#container {
    z-index: 0;
    position: relative;
    top: 0%;
}

#__fullSizeClock {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#__fullSizeClock__Clock {
    color: white;
    font-size: 10rem;
    font-weight: bold;
    margin: -3rem;
    user-select: none;
}